# Google API Configuration
GOOGLE_GENAI_USE_VERTEXAI=0
GOOGLE_API_KEY=

# Open AI API Configuration
OPENAI_API_KEY=

# CryptoPanic API Configuration
CRYPTO_PANIC_API_KEY=

# CoinGecko API Configuration
COINGECKO_API_KEY=

# Telegram API Configuration    
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=